@tailwind base;
@tailwind components;
@tailwind utilities;

.no-drag {
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.fade-in-up {
  opacity: 0;
  transform: translateY(40px); /* Start slightly below */
  transition:
    opacity 0.3s ease-out,
    transform 0.3s ease-out;
}

.fade-in-up.visible {
  opacity: 1;
  transform: translateY(0); /* Slide up smoothly */
}

body,
html {
  @apply font-varela scroll-smooth;
}

.btn {
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
}
.btn:hover .btn-slide-show-text1 {
  margin-left: 65px;
}
.flash-slide {
  border: none;
  display: inline-block;
  color: rgb(255, 255, 255);
  margin: 20px;
  width: 180px;
  height: 50px;
  position: relative;
  overflow: hidden;
  text-decoration: none;
  text-transform: uppercase;
  font-family: Helvetica;
  text-align: center;
}
.flash-slide::before {
  content: "";
  position: absolute;
  top: -30px;
  left: -80px;
  height: 100px;
  width: 70px;
  background: rgba(255, 255, 255, 0.3);
  transform: rotate(20deg);
}
.flash-slide:hover::before {
  left: 190px;
  transition: 0.5s;
}
.flash-slide--green {
  background: rgb(22, 101, 52);
}
@keyframes wave {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-0.25em);
  }
}

.animate-wave {
  animation: wave 1s ease-in-out infinite;
}
@keyframes leaf {
  0%,
  100% {
    transform: rotate(0deg) translateY(0);
  }
  25% {
    transform: rotate(-5deg) translateY(-3px);
  }
  75% {
    transform: rotate(5deg) translateY(3px);
  }
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

@keyframes growLine {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}

.animate-leaf {
  animation: leaf 1.5s ease-in-out infinite;
}

.animate-float {
  animation: float 2s ease-in-out infinite;
}

.animate-growLine {
  animation: growLine 1.5s ease-out forwards;
  animation-delay: 0.5s;
}
